body {
  background-color: black;
}

.welcome {
  color: white;
  font-family: "Courier New";
}

.welcome>.info {
  white-space: pre-line;
}

.page {
  font-family: "Courier New";
  color: white;
}

.page__lines {
  margin: 8px;
}

.page__line {
  display: flex;
  min-height: 1em;
}

.page__edit_section {
  position: fixed;
  right: 8px;
  top: 8px;
  display: flex;
  flex-direction: row;
}

.page__edit_section>* {
  margin-left: 8px;
}

.page__expand_button {
  position: fixed;
  right: 8px;
  bottom: 8px;
}

.page__edit_toggle,
.page__save_button {
  background-color: green;
  padding: 8px;
  vertical-align: middle;
}

.page__expand_button {
  background-color: midnightblue;
  padding: 8px;
  vertical-align: middle;
}

.page__open_comment,
.page__add_comment {
  width: 0.9em;
  height: 0.9em;
  background-color: midnightblue;
  text-align: center;
  font-weight: bold;
  margin-left: 8px;
}

.page__view_state {
  width: 0.9em;
  height: 0.9em;
  background-color: goldenrod;
  text-align: center;
  font-weight: bold;
  margin-left: 8px;
}

.page__edit_toggle,
.page__save_button,
.page__comment__edit,
.page__comment__finish,
.page__comment__close,
.page__open_comment,
.page__add_comment,
.page__expand_button,
.page__view_state {
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.page__comment {
  position: relative;
  margin: 8px;
  border: 1px solid #006;
  border-radius: 8px;
  padding: 8px;
  max-width: 60em;
  background-color: midnightblue;
  color: white;
  margin-top: 16px;
}

.page__comment::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 16px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid midnightblue;
  box-sizing: border-box;
}

.page__comment__text {
  white-space: break-spaces;
}

.page__comment__editor {
  width: calc(100% - 8px - 8px);
  min-height: 4em;
  background-color: azure;
  color: black;
  padding: 8px;
  white-space: break-spaces;
}

.page__comment__finish,
.page__comment__edit,
.page__comment__close {
  padding: 4px;
  margin: 4px;
  margin-top: 8px;
  background-color: azure;
}

.page__state {
  position: relative;
  margin: 8px;
  border: 1px solid #006;
  border-radius: 8px;
  padding: 8px;
  max-width: 60em;
  background-color: goldenrod;
  color: white;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page__state::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 16px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid goldenrod;
  box-sizing: border-box;
}

.page__state__player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page__state__player__class,
.page__state__player__aff_count {
  margin-bottom: 8px;
  flex-basis: 50%;
}

.page__state__player__rebounding {
  margin-top: 8px;
  flex-basis: 100%;
}

.page__state__player__balance {
  margin-right: 8px;
}

.page__state__player__limbs {
  margin-top: 8px;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 50%;
}

.page__state__player__limbs>.limb {
  flex-basis: 50%;
}

.page__state__player__limbs>.limb--damaged_0 {
  color: white;
}

.page__state__player__limbs>.limb--damaged_1 {
  font-weight: bold;
  color: #fcf;
}

.page__state__player__limbs>.limb--damaged_2 {
  font-weight: bold;
  color: #faf;
}

.page__state__player__limbs>.limb--damaged_3 {
  font-weight: bold;
  color: #f4f;
}

.page__state__player__limbs>.limb--damaged_4 {
  font-weight: bolder;
  color: #f48;
}

.page__state__player__limbs>.limb--damaged_5 {
  font-weight: bolder;
  color: #f44;
}

.page__state__player__limbs>.limb--damaged_6 {
  font-weight: bolder;
  color: #f00;
}

.page__state__player__limbs>.limb--damaged_7 {
  font-weight: 900;
  color: #a00;
}

.page__state__player__limbs>.limb--damaged_8 {
  font-weight: 900;
  color: #900;
}

.page__state__player__limbs>.limb--damaged_9 {
  font-weight: 900;
  color: #400;
}

.page__state__player__limbs>.limb--damaged_10 {
  font-weight: 900;
  color: #100;
}

.page__state__player__limbs>.limb--broken_crippled {
  background-color: green;
}

.page__state__player__limbs>.limb--broken_damaged {
  background-color: yellow;
}

.page__state__player__limbs>.limb--broken_mangled {
  background-color: white;
}

.page__state__player__limbs>.limb--broken_amputated {
  background-color: magenta;
}

.page__state__player__limbs>.limb--bruise_level_1 {
  text-decoration: underline dashed;
}

.page__state__player__limbs>.limb--bruise_level_2 {
  text-decoration: underline;
}

.page__state__player__limbs>.limb--bruise_level_3 {
  text-decoration: underline double;
}

.page__state__player__affs {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page__state__player__affs>.aff {
  background-color: white;
  color: black;
  border: 1px solid transparent;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  height: 1em;
  line-height: 1em;
}

.page__state__player__affs>.aff--Anorexia,
.page__state__player__affs>.aff--Asthma,
.page__state__player__affs>.aff--Slickness {
  background-color: red;
}

.page__state__player__affs>.aff--Aeon,
.page__state__player__affs>.aff--Paralysis,
.page__state__player__affs>.aff--ThinBlood,
.page__state__player__affs>.aff--Frozen {
  background-color: magenta;
}

.page__state__player__affs>.aff--Stupidity,
.page__state__player__affs>.aff--Paresis,
.page__state__player__affs>.aff--Impatience {
  background-color: pink;
}

.page__state__player__affs>.aff--Perplexed,
.page__state__player__affs>.aff--SelfLoathing {
  background-color: yellow;
}

.page__state__player__affs>.aff--mental {
  font-weight: bold;
}

.page__state__player__affs>.aff--physical {
  font-style: italic;
}