$one_unit: 8px;

body {
    background-color: black;
}

.page {
    font-family: 'Courier New';
    color: white;

    &__lines {
        margin: $one_unit;
    }

    &__line {
        display: flex;
        height: 1em;
    }

    &__edit_toggle {
        position: fixed;
        right: $one_unit;
        top: $one_unit;
        background-color: green;
        padding: $one_unit;
        vertical-align: middle;
    }

    &__expanded_toggle {
        position: fixed;
        right: $one_unit;
        bottom: $one_unit;
        background-color: green;
        padding: $one_unit;
        vertical-align: middle;
    }

    &__edit_toggle,
    &__expanded_toggle,
    &__comment__edit,
    &__comment__finish,
    &__comment__close,
    &__open_comment,
    &__add_comment {
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        border-radius: #{div($one_unit, 2)};
    }
}