body.outer {
    margin: 0;
}
iframe {
    box-sizing: border-box;
}
body:not(.outer) {
    background-color: black;

    span {
      font-weight: normal !important;
      white-space: pre-wrap;
      font-family: Anadale Mono, monospace;
      font-size: 14px;
    }

    .line {
        display: block;
        width: 100%;
    }
}