body.outer {
    margin: 0;
}
iframe {
    box-sizing: border-box;
    width: calc(100% - 480px);
}
body:not(.outer) {
    background-color: black;
    margin: 0;
    padding: 0;
    position: relative;

    span {
      font-weight: normal !important;
      white-space: pre-wrap;
      font-family: Anadale Mono, monospace;
      font-size: 14px;
    }

    .line {
        display: block;
        width: 100%;
    }
}

.scroll_indicator {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background-color: #214444;
    opacity: 0.5;
    transition: ease-in-out top 500ms;
    pointer-events: none;
}

@keyframes flash {
    from {
        background-color: white;
    }
    to {
    }
}

.battle_stats {
    position: absolute;
    right: 0;
    width: 480px;
    background-color: #214444;
    border: 1px solid #a48021;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .pills,
    .smokes,
    .salves {
        display: flex;
        flex-direction: row;
    }
    
    &--me {
        top: 0;
        bottom: 50%;
    }
    &--you {
        top: 50%;
        bottom: 0;
    }

    .pill_strip {
        width: 16px;
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        border-radius: 4px;
    }

    .aff {
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        &--cured {
            background-color: green;
        }
        &--afflicted {
            background-color: red;
            color: white;
            opacity: 1;
            animation: flash 0.5s ease-in-out 0s 1 normal;
        }
        &--Sadness,
        &--SelfPity,
        &--Baldness,
        &--CommitmentFear,
        &--BodyOdor,
        &--Hubris {
            opacity: 0.7;
        }
        &--Paralysis,
        &--Stormtouched {
            margin-top: 16px;
        }
        &--Paresis,
        &--Paralysis,
        &--Asthma,
        &--Impatience {
            font-weight: bold;
        }
        &--Insomnia {
            display: none;
        }
    }
}